/* General Layout */
.quiz-form-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: #333;
}

h4 {
  font-size: 1.3rem;
  color: #2c3e50;
}

button {
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #f9aa33;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f79c42;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-size: 1rem;
  font-weight: 500;
  color: #344955;
  margin-bottom: 0.5rem;
  display: block;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

.quiz-preview {
  margin-top: 3rem;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.quiz-preview-item {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.quiz-preview-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.quiz-options {
  list-style: none;
  padding-left: 0;
}

.quiz-options li {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

.quiz-options li.correct {
  font-weight: bold;
  color: green;
}

/* Assuming you're styling for correct answer highlighting */
.correct-ans {
  font-weight: bold;
  color: green;
}
