.reset-password-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .reset-password-card {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
  }
  
  .reset-password-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  
  .reset-password-message {
    margin-top: 20px;
    color: red;
  }
  