body {
  font-family: Arial, sans-serif;
}

.landing-page {
  padding: 50px 0;
}

.text-center {
  margin-bottom: 30px;
}

.form-container {
  padding: 50px 20px;
}

h1,
h2 {
  color: #333;
}

.btn-lg {
  width: 100%;
  margin-bottom: 10px;
}